@font-face {
  font-family: OpenSans;
  src: url(../Fonts/open-sans-v17-cyrillic_latin-300.woff2) format("woff2"), url(../Fonts/open-sans-v17-cyrillic_latin-300.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(../Fonts/open-sans-v17-cyrillic_latin-700.woff2) format("woff2"), url(../Fonts/open-sans-v17-cyrillic_latin-700.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 30px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-style: normal;
  background-color: #ffffff;
  color: #444444;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #444444;
}
a:hover,
a:focus {
  color: #666666;
}
a:active {
  color: #b2b2b2;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.default-nole {
  padding: 0;
  margin: 0;
}
.v-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@keyframes manifest {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.15;
  }
  35% {
    opacity: 0.35;
    color: #63d1bb;
  }
  50% {
    opacity: 0.5;
  }
  65% {
    opacity: 0.65;
    color: #63d1bb;
  }
  85% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
    color: #63d1bb;
  }
}
.button {
  display: block;
  width: 260px;
  min-height: 52px;
  border: 2px solid #444444;
  color: #444444;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background: #ffffff;
}
.button:hover,
.button:focus {
  background: #192327;
  color: #ffffff;
  border-color: #192327;
}
.button:active {
  background: #444444;
  color: #7c7c7c;
  border-color: #444444;
}
.slider__toogles {
  display: flex;
}
.slider__toogle {
  width: 130px;
  height: 50px;
  border: 1px solid #ececec;
  background: #ffffff url("../less/blocks/slider/huge-arrow-right.svg") no-repeat center;
}
.slider__toogle--pre {
  background-image: url("../less/blocks/slider/huge-arrow-left.svg");
}
.slider__toogle:hover,
.slider__toogle:focus {
  opacity: 0.5;
}
@media (min-width: 768px) {
  .slider__toogles {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .slider__toogle {
    width: 84px;
    border: 0;
  }
}
.main-nav {
  padding: 0;
  margin: 0;
  outline: none;
  background: transparent;
  width: 320px;
  margin: 0 auto;
}
.main-nav::before {
  display: none;
}
/* этот элемент надо скрыть для всего кроме десктопа */
.main-nav__wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  margin: 0 auto;
}
.main-nav__toogle {
  display: none;
}
.main-nav__list {
  padding: 0;
  margin: 0;
}
.main-nav__list--descktop-list {
  display: none;
}
@media (min-width: 768px) {
  .main-nav {
    /* display: flex; */
    /* wrap: wrap; */
    width: auto;
    margin: 0;
  }
  .main-nav__wraper {
    display: flex;
    width: 100%;
    height: 88px;
    justify-content: space-between;
    /* width: @tablet-width; */
    margin: 0 auto;
  }
  .main-nav__toogle {
    display: none;
  }
  .main-nav__list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-right: 6.5%;
    border-bottom: 1px solid #ececec;
  }
  .main-nav__list--descktop-list {
    display: none;
  }
}
@media (min-width: 1150px) {
  .main-nav__list--descktop-list {
    display: flex;
    position: absolute;
    border: 0;
    top: 88px;
    left: 6.4%;
    /*       width: 350px;
      justify-content: space-between; */
  }
}
/* только для мобильного */
@media (max-width: 767px) {
  .main-nav {
    position: relative;
  }
  .main-nav__toogle {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    top: -50px;
    right: 50%;
    margin-right: -100px;
    width: 22px;
    height: 22px;
    border: none;
    background: none;
  }
  /* здесь стили, которые зависят от состояния меню (закрыто или открыто) */
  .main-nav--nojs .main-nav__toogle {
    display: none;
  }
  .main-nav--closed .main-nav__toogle::before {
    content: "";
    display: block;
    padding: 0;
    margin: 0;
    transform: translateY(-8px);
    width: 22px;
    height: 2px;
    background: #221f1f;
    box-shadow: 0 6px #221f1f, 0 13px #221f1f;
  }
  .main-nav--opened .main-nav__toogle::before {
    content: "";
    display: block;
    padding: 0;
    margin: 0;
    transform: rotate(45deg);
    width: 24px;
    height: 2px;
    background: #221f1f;
  }
  .main-nav--opened .main-nav__toogle::after {
    content: "";
    display: block;
    padding: 0;
    margin: 0;
    transform: translateY(-2px) rotate(-45deg);
    width: 24px;
    height: 2px;
    background: #221f1f;
  }
  .main-nav--closed .main-nav__wraper {
    display: none;
  }
  .main-nav--opened .main-nav__wraper {
    display: block;
  }
}
/* .site-list {
	text-align: center;
}
 */
.site-list {
  width: 100%;
  /* height: 88px; */
}
.site-list__item a {
  display: block;
  width: 100%;
  padding-left: 25%;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ececec;
  font-weight: bold;
}
.site-list__item:nth-child(3) {
  background: url("../less/blocks/site-list/search.svg") 31px 36px no-repeat;
  /* border-left: 1px solid @border-gray; */
}
.site-list__item:nth-child(3):hover,
.site-list__item:nth-child(3):focus {
  background-image: url("../less/blocks/site-list/search-hover.svg");
}
.site-list__item:nth-child(4) {
  background: url("../less/blocks/site-list/cart.svg") 31px 36px no-repeat;
  /* border-left: 1px solid @border-gray; */
}
.site-list__item:nth-child(4):hover,
.site-list__item:nth-child(4):focus {
  background-image: url("../less/blocks/site-list/cart-hover.svg");
}
/* для планшета */
@media (min-width: 768px) {
  .site-list {
    height: 88px;
  }
  .site-list__item a {
    padding: 0;
    margin: 0;
    border-width: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 82px;
    border-left: 1px solid #ececec;
    height: 88px;
  }
  .site-list__item:nth-child(1) a {
    position: absolute;
    top: 88px;
    /* left: 50px; */
    left: 6.5%;
    font-size: 17px;
    width: 167px;
    padding-top: 20px;
    padding-left: 0;
    border-left: 0;
  }
  .site-list__item:nth-child(2) a {
    position: absolute;
    top: 88px;
    /* left: 217px; */
    left: 28.2%;
    font-size: 17px;
    width: 167px;
    padding-top: 20px;
    padding-left: 0;
    border-left: 0;
  }
  .site-list__item:nth-child(3) span {
    /* flex-direction: row; */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .site-list__item:nth-child(3) {
    background-position: center;
  }
}
/* для ПК */
@media (min-width: 1150px) {
  .site-list__item:nth-child(1) a {
    top: 0;
    padding-top: 32px;
  }
  .site-list__item:nth-child(2) a {
    top: 0;
    left: 24.8%;
    padding-top: 32px;
    padding-left: 41px;
    width: auto;
    border-left: 1px solid #ececec;
  }
  .site-list__item--new:nth-child(1) a {
    left: 0;
    border-width: 0;
    width: 175px;
    font-size: 15px;
  }
  .site-list__item--sale:nth-child(2) a {
    margin-left: 195px;
    border-width: 0;
    width: 175px;
    font-size: 15px;
  }
}
.page-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  /* border: 2px solid red; */
}
.page-header__image-wrap {
  width: 100%;
  height: 80px;
  /* flex-grow: 1; */
  /* border: 2px solid yellow; */
}
.page-header__header-logo {
  height: 80px;
  width: 320px;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
}
.page-header__header-img {
  display: block;
  margin: auto;
  width: 86px;
  /* height: 100%; */
  padding-top: 22px;
}
.page-header__nav {
  width: 100%;
}
.header-cover {
  width: 100%;
  min-height: 373px;
  background: #f9f9f9 url("../less/blocks/page-header/hero-mobile.jpg") center no-repeat;
}
.header-cover--catalog {
  background-image: none;
  min-height: 177px;
}
/* Мини блок header-cover */
.header-cover__delivery {
  display: none;
}
.header-cover__title {
  width: 246px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
}
/* Стили для планшета */
@media (min-width: 768px) {
  .page-header {
    /* flex-direction: row; */
    flex-wrap: wrap;
  }
  .page-header__header-logo {
    border-bottom: 0;
    height: 89px;
  }
  .page-header__image-wrap {
    width: 145px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .page-header__header-img {
    width: 116px;
  }
  .header-cover {
    min-height: 746px;
    width: 100%;
    background-image: url("../less/blocks/page-header/hero-tablet.jpg");
  }
  .header-cover--catalog {
    background-image: none;
    min-height: 225px;
  }
  .header-cover__delivery {
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 24px;
    display: block;
    position: absolute;
    top: 110px;
    right: 6.5%;
    z-index: 2;
  }
  .header-cover__title {
    font-size: 43px;
    line-height: 50px;
    width: 495px;
    margin-top: 160px;
  }
  .header-cover__title--catalog {
    margin-top: 100px;
  }
}
@media (min-width: 1150px) {
  .page-header__image-wrap {
    top: 0;
    left: 50%;
    margin-left: -72px;
  }
  .page-header__header-logo {
    width: auto;
  }
}
.product-list {
  padding: 0;
  margin: 0;
}
.product-list__item a {
  display: block;
  height: 103px;
  width: 320px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  background-color: #63d1bb;
  background-position: 242px 23px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 160px;
}
.product-list__item a:hover,
.product-list__item a:focus {
  height: 108px;
  background-position: 242px 18px;
}
.product-list__item a:active {
  color: #8dd5c9;
}
.product-list__item--interior-article a {
  background-image: url("../less/blocks/product-list/interior.svg");
  background-repeat: no-repeat;
  margin-top: -73px;
}
.product-list__item--interior-article a:hover,
.product-list__item--interior-article a:focus {
  background-image: url("../less/blocks/product-list/interior-hover.svg");
}
.product-list__item--toys a {
  background-color: #56c3b2;
  background-image: url("../less/blocks/product-list/toy.svg");
  background-repeat: no-repeat;
}
.product-list__item--toys a:hover,
.product-list__item--toys a:focus {
  background-image: url("../less/blocks/product-list/toy-hover.svg");
}
@media (min-width: 768px) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-list__item a {
    margin-top: -119px;
    height: 119px;
    width: 334px;
    padding-top: 36px;
    padding-left: 36px;
    font-size: 20px;
    line-height: 30px;
    background-position: 257px 30px;
  }
  .product-list__item a:hover,
  .product-list__item a:focus {
    height: 124px;
    background-position: 257px 25px;
    margin-top: -124px;
  }
}
@media (min-width: 1150px) {
  .product-list__item a {
    width: 525px;
    padding-right: 350px;
    background-position: 448px 30px;
  }
  .product-list__item a:hover,
  .product-list__item a:focus {
    background-position: 448px 25px;
  }
}
.product__wrap {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
}
.product__wrap::after {
  content: "";
  position: absolute;
  bottom: -160px;
  left: 0px;
  display: block;
  width: 100%;
  height: 6px;
  background: url("../less/blocks/product/zigzag-line5223.svg") repeat-x 0 0;
  background-size: auto 6px;
  z-index: 1;
  opacity: 0.5;
}
.product__name {
  font-size: 25px;
  line-height: 30px;
  padding-top: 33px;
  padding-left: 32px;
  width: 320px;
  margin: 0 auto;
}
.product__status {
  margin: 0 auto;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
  padding-left: 30px;
  margin-top: 7px;
  width: 320px;
}
.product__description {
  margin: 0 auto;
  font-size: 15px;
  line-height: 24px;
  width: 320px;
  padding: 0 32px;
  padding-right: 38px;
  margin-top: 30px;
}
.product__features-table {
  width: 260px;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 30px;
}
.product__features-table tr {
  border-bottom: 1px solid #f9f9f9;
}
.product__features-table td:first-child {
  width: 98px;
}
.product__price {
  margin: 0 auto;
  margin-top: 373px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  width: 140px;
}
.product__order-button {
  margin: 0 auto;
  margin-top: 28px;
}
.product__photo {
  display: block;
  width: 260px;
  height: auto;
  margin: 0 auto;
  margin-top: -442px;
  margin-bottom: 150px;
}
@media (min-width: 768px) {
  .product__wrap {
    margin: 0 auto;
    width: 768px;
    padding-bottom: 50px;
  }
  .product__wrap::after {
    bottom: -23px;
    left: 0;
    width: 768px;
    height: 23px;
    background-size: auto;
  }
  .product__name {
    padding-left: 0;
    margin-top: 55px;
    font-size: 43px;
    line-height: 50px;
    width: 668px;
  }
  .product__status {
    font-size: 17px;
    line-height: 17px;
    width: 126px;
    text-align: center;
    padding-right: 26px;
    margin-top: -37px;
    margin-right: 50px;
  }
  .product__description {
    width: 668px;
    padding-left: 0;
    padding-right: 385px;
    font-size: 17px;
    line-height: 30px;
    margin-top: 55px;
  }
  .product__features-table {
    font-size: 15px;
    line-height: 20px;
    width: 292px;
    margin-left: 50px;
  }
  .product__features-table tr {
    display: block;
    min-height: 40px;
  }
  .product__price {
    font-size: 20px;
    line-height: 24px;
    width: 290px;
    text-align: center;
    margin-top: 60px;
    margin-left: 50px;
  }
  .product__order-button {
    margin-top: 37px;
    margin-left: 50px;
    width: 290px;
    min-height: 50px;
  }
  .product__photo {
    margin-right: 50px;
    margin-top: -405px;
    margin-bottom: 0;
    width: 334px;
  }
}
@media (min-width: 1150px) {
  .product__wrap {
    margin: 0 auto;
    width: 1150px;
    padding-bottom: 75px;
  }
  .product__wrap::after {
    width: 1150px;
  }
  .product__name {
    padding-left: 0;
    margin-top: 130px;
    margin-left: 225px;
    font-size: 53px;
    line-height: 57px;
    width: 700px;
  }
  .product__status {
    width: 175px;
    text-align: center;
    padding-right: 55px;
    padding-left: 45px;
    margin-top: -48px;
    margin-right: 0;
    margin-left: 50px;
  }
  .product__description {
    width: 350px;
    padding-left: 0;
    padding-right: 55px;
    margin-top: 65px;
    margin-left: 225px;
  }
  .product__features-table {
    width: 300px;
    margin-left: 225px;
  }
  .product__price {
    width: 295px;
    margin-top: 110px;
    margin-left: 225px;
  }
  .product__order-button {
    margin-left: 225px;
    width: 295px;
    min-height: 53px;
  }
  .product__photo {
    position: absolute;
    margin: 0;
    top: -33px;
    right: 50px;
    width: 525px;
    z-index: -1;
  }
}
.page-main__reviews {
  margin-top: 60px;
}
.page-main__contacts {
  margin-top: 100px;
}
@media (min-width: 768px) {
  .page-main__product {
    position: relative;
  }
  .page-main__product::before {
    content: "";
    position: absolute;
    top: -17px;
    display: block;
    width: 100%;
    height: 18px;
    background: url("../less/blocks/page-main/zigzag.svg") repeat-x 0 0;
    z-index: 4;
  }
}
.about-us__title {
  font-size: 25px;
  line-height: 30px;
  width: 260px;
  margin: 175px auto 18px;
}
.about-us__list {
  padding: 0;
  margin: 0;
}
.about-us__item {
  position: relative;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  width: 260px;
  min-height: 105px;
  padding-top: 70px;
  margin: 0 auto;
}
.about-us__item--eco::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 55px;
  height: 55px;
  background: url("../less/blocks/about-us/icon-sprite.svg") no-repeat 0 0;
}
.about-us__item--clew::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -7px;
  width: 55px;
  height: 55px;
  background: url("../less/blocks/about-us/icon-sprite.svg") no-repeat 0 -55px;
}
.about-us__item--money::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -5px;
  width: 55px;
  height: 55px;
  background: url("../less/blocks/about-us/icon-sprite.svg") no-repeat -55px 0;
}
.about-us__item--rocket::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 55px;
  height: 55px;
  background: url("../less/blocks/about-us/icon-sprite.svg") no-repeat -55px -55px;
}
.about-us__item--heart::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -5px;
  width: 55px;
  height: 55px;
  background: url("../less/blocks/about-us/icon-sprite.svg") no-repeat -110px 0;
}
.about-us__item--gift::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -5px;
  width: 55px;
  height: 55px;
  background: url("../less/blocks/about-us/icon-sprite.svg") no-repeat -110px -55px;
}
@media (min-width: 768px) {
  .about-us__title {
    font-size: 43px;
    line-height: 50px;
    width: 668px;
    margin: 77px auto 50px;
  }
  .about-us__wraper {
    width: 668px;
    margin: 0 auto;
  }
  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }
  .about-us__item {
    position: relative;
    font-size: 20px;
    line-height: 22px;
    width: 334px;
    padding-top: 70px;
  }
}
@media (min-width: 1150px) {
  .about-us__title {
    font-size: 53px;
    line-height: 57px;
    width: 700px;
    margin: 100px auto 38px;
  }
  .about-us__wraper {
    width: 700px;
    margin: 0 auto;
  }
  .about-us__item {
    width: 350px;
    padding-top: 57px;
  }
}
.reviews {
  width: 100%;
  position: relative;
}
.reviews::after {
  content: "";
  position: absolute;
  bottom: -136px;
  left: 0px;
  display: block;
  width: 100%;
  height: 6px;
  background: url("../less/blocks/product/zigzag-line5223.svg") repeat-x 0 0;
  background-size: auto 6px;
  z-index: 4;
  opacity: 0.5;
}
.reviews__wrapper {
  width: 260px;
  margin: 0 auto;
  position: relative;
}
.reviews__title {
  padding: 0;
  margin: 0;
  font-size: 25px;
  line-height: 30px;
}
.reviews__button {
  position: absolute;
  bottom: -90px;
}
.reviews__list {
  margin-top: 35px;
}
.reviews__item {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}
.reviews__text {
  padding: 0;
  margin: 0;
}
.reviews__autor {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  font-size: 17px;
  line-height: 30px;
}
.reviews__username {
  font-weight: bold;
  display: block;
  width: 100%;
}
.reviews__toogles {
  margin-bottom: 138px;
}
@media (min-width: 768px) {
  .reviews {
    margin: 0 auto;
    margin-top: 83px;
    width: 768px;
    padding-top: 85px;
    padding-bottom: 50px;
    background: url("../less/blocks/reviews/review.jpg") no-repeat 0 0;
  }
  .reviews::after {
    bottom: -65px;
    left: 0px;
    width: 768px;
    height: 23px;
    background-size: auto;
  }
  .reviews__wrapper {
    width: 668px;
  }
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }
  .reviews__button {
    position: absolute;
    bottom: auto;
    top: 0px;
    right: 0;
    width: 170px;
    height: 50px;
    font-size: 17px;
    line-height: 20px;
  }
  .reviews__list {
    margin-top: 60px;
  }
  .reviews__item {
    font-size: 17px;
    padding-right: 20px;
  }
  .reviews__text {
    min-height: 130px;
  }
  .reviews__autor {
    padding: 0;
    margin: 0;
    margin-top: 65px;
    font-size: 18px;
    line-height: 24px;
  }
  .reviews__username {
    font-weight: bold;
    display: block;
    width: 100%;
  }
  .reviews__toogles {
    margin-bottom: 0px;
  }
}
@media (min-width: 1150px) {
  .reviews {
    margin: 0 auto;
    margin-top: 90px;
    width: 1050px;
    padding-top: 80px;
    padding-bottom: 100px;
    background-position: 50px 0;
  }
  .reviews::after {
    bottom: -70px;
    left: 0px;
    width: 1050px;
  }
  .reviews__wrapper {
    width: 875px;
    padding-left: 175px;
  }
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
  .reviews__button {
    position: absolute;
    bottom: auto;
    top: 0px;
    right: 0;
    width: 170px;
    height: 50px;
    font-size: 17px;
    line-height: 20px;
  }
  .reviews__list {
    margin-top: 52px;
  }
  .reviews__item {
    line-height: 30px;
    padding-right: 105px;
  }
  .reviews__autor {
    padding: 0;
    margin: 0;
    margin-top: 50px;
    font-size: 17px;
    line-height: 24px;
  }
  .reviews__username {
    font-weight: bold;
    display: block;
    width: 100%;
  }
  .reviews__toogles {
    margin-bottom: 0px;
  }
}
.contacts__wrap {
  padding: 0;
  margin: 0;
  padding-top: 20px;
  margin: 0 auto;
  width: 260px;
}
.contacts__title {
  font-size: 18px;
  line-height: 30px;
}
.contacts__list {
  width: 260px;
  font-size: 15px;
  line-height: 30px;
  border-collapse: collapse;
}
.contacts__item {
  padding: 0;
  margin: 0;
  vertical-align: top;
  padding-bottom: 35px;
}
.contacts__item:nth-child(odd) {
  /* display: block; */
  width: 75px;
}
.contacts__item a {
  padding-bottom: 2px;
  border-bottom: 1px solid #62d1ba;
}
.contacts__item a:hover,
.contacts__item a:focus {
  border-bottom-color: #56c3b2;
}
.contacts__map-wrap {
  position: relative;
}
.contacts__map {
  width: 320px;
  height: 460px;
  margin: 0 auto;
  margin-left: -30px;
  box-shadow: 2px 2px 1px rgba(68, 68, 68, 0.5);
}
.contacts__map-img {
  display: block;
  position: absolute;
  z-index: -1;
  width: 320px;
  height: 460px;
  bottom: 10px;
  left: -30px;
}
.contacts__map-img img {
  width: 320px;
  height: 460px;
}
.contacts__button {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .contacts__wrap {
    padding: 0;
    margin: 0;
    padding-top: 50px;
    width: 668px;
    margin: 0 auto;
  }
  .contacts__title {
    position: relative;
    font-size: 43px;
    line-height: 50px;
  }
  .contacts__title::before {
    content: "";
    display: block;
    position: absolute;
    top: -25px;
    right: 0;
    width: 47px;
    height: 81px;
    background: url("../LESS/blocks/contacts/flag.svg") no-repeat;
  }
  .contacts__list tbody {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    font-size: 17px;
  }
  .contacts__list tr {
    width: 334px;
  }
  .contacts__map-wrap {
    position: relative;
  }
  .contacts__map {
    width: 768px;
    height: 460px;
    /* margin: 0 auto; */
    margin-left: -50px;
    /* box-shadow: 2px 2px 1px rgba(68, 68, 68, 0.5); */
  }
  .contacts__map-img {
    width: 768px;
    height: 460px;
    left: -50px;
  }
  .contacts__map-img img {
    width: 768px;
    height: 460px;
  }
  .contacts__button {
    margin: 0 auto;
    margin-top: 55px;
  }
}
@media (min-width: 1150px) {
  .contacts__wrap {
    padding-top: 50px;
    width: 1050px;
    position: relative;
  }
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding-left: 175px;
  }
  .contacts__title::before {
    top: -25px;
    right: auto;
    left: 65px;
    width: 51px;
    height: 85px;
    background: cover;
  }
  .contacts__list tbody {
    margin-left: 175px;
    flex-direction: column;
  }
  .contacts__map-wrap {
    position: absolute;
    top: 65px;
    right: 0;
  }
  .contacts__map {
    width: 525px;
    height: 455px;
  }
  .contacts__map-img {
    width: 525px;
    height: 455px;
    left: -50px;
  }
  .contacts__map-img img {
    width: 525px;
    height: 455px;
  }
  .contacts__button {
    margin-left: 175px;
    margin-top: 85px;
  }
}
.catalog__wrap {
  width: 260px;
  margin: 0 auto;
}
.catalog__list {
  padding: 0;
  margin: 0;
}
.catalog__item {
  padding: 0;
  margin: 0;
  margin-top: 30px;
}
.catalog__image-img {
  padding: 0;
  margin: 0;
  display: block;
}
.catalog__item-wrap a {
  padding: 0;
  margin: 0;
  display: block;
}
.catalog__info-wrap {
  width: 260px;
  min-height: 180px;
  border: 1px solid #ececec;
}
.catalog__info-wrap:hover,
.catalog__info-wrap:focus {
  box-shadow: 0 3px 3px 2px rgba(232, 232, 232, 0.5);
}
.catalog__description-wrap {
  margin: 0 auto;
  width: 205px;
  min-height: 105px;
  border-bottom: 1px solid #ececec;
}
.catalog__description-title {
  font-size: 17px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px;
}
.catalog__description {
  font-size: 13px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.catalog__bying-wrap {
  position: relative;
  margin: 0 auto;
  width: 205px;
  min-height: 75px;
}
.catalog__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 26px;
}
.catalog-button {
  position: absolute;
  background: none;
  background: url("../img/cart.svg") no-repeat 8px 10px;
  background-size: 22px 22px;
  border: none;
  right: -5px;
  bottom: 22px;
  width: 40px;
  height: 40px;
}
.catalog-button:hover,
.catalog-button:focus {
  background-image: url("../img/cart-hover.svg");
}
@media (min-width: 768px) {
  .catalog {
    position: relative;
    padding: 0;
    margin: 0;
  }
  .catalog::before {
    content: "";
    position: absolute;
    top: -73px;
    display: block;
    width: 100%;
    height: 18px;
    background: url("../img/zigzag.svg") repeat-x 0 0;
    z-index: 2;
  }
  .catalog__wrap {
    width: 668px;
    margin: 0 auto;
  }
  .catalog__item {
    padding: 0;
    margin: 0;
    margin-top: 55px;
  }
  .catalog__item-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .catalog__image-img {
    width: 100%;
  }
  .catalog__item-wrap a {
    padding: 0;
    margin: 0;
    display: block;
    width: 50%;
  }
  .catalog__info-wrap {
    width: 50%;
    min-height: 335px;
  }
  .catalog__info-wrap:hover,
  .catalog__info-wrap:focus {
    box-shadow: 3px 0 3px 2px rgba(232, 232, 232, 0.5);
  }
  .catalog__description-wrap {
    margin: 0 auto;
    width: 268px;
    min-height: 260px;
  }
  .catalog__description-title {
    width: 268px;
    font-size: 20px;
    padding: 0;
    margin: 0;
    padding-top: 27px;
    padding-left: 0;
  }
  .catalog__description-title a {
    width: 268px;
  }
  .catalog__description {
    font-size: 15px;
    padding: 0;
    margin: 0;
  }
  .catalog__bying-wrap {
    /* position: relative;
  margin: 0 auto; */
    width: 268px;
    min-height: 72px;
  }
  .catalog__price {
    font-size: 17px;
    padding: 0;
    margin: 0;
    padding-top: 26px;
    /* padding-bottom: 27px; */
  }
  .catalog-button {
    background-position: 8px 19px;
  }
  .catalog-button:hover,
  .catalog-button:focus {
    background-image: url("../img/cart-hover.svg");
  }
}
@media (min-width: 1150px) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .catalog {
    padding-top: 132px;
  }
  .catalog::before {
    top: -17px;
  }
  .catalog__wrap {
    width: 1050px;
  }
  .catalog__item {
    margin-top: 0;
  }
  .catalog__item-wrap {
    flex-direction: column;
    width: 314px;
  }
  /*   .catalog__image-img {
    width: 100%;
  } */
  .catalog__item-wrap a {
    /*     .default-nole;
    display: block; */
    width: 100%;
  }
  .catalog__info-wrap {
    width: 100%;
    min-height: 200px;
  }
  .catalog__info-wrap:hover,
  .catalog__info-wrap:focus {
    box-shadow: 0 3px 3px 2px rgba(232, 232, 232, 0.5);
  }
  .catalog__description-wrap {
    margin: 0 auto;
    width: 257px;
    min-height: 123px;
  }
  .catalog__description-title {
    width: 257px;
    padding: 0;
    margin: 0;
    padding-top: 27px;
    padding-left: 0;
  }
  .catalog__description-title a {
    width: 268px;
  }
  .catalog__description {
    /*     font-size: 15px;
    .default-nole; */
  }
  .catalog__bying-wrap {
    /* position: relative;
    margin: 0 auto; */
    width: 257px;
    min-height: 75px;
  }
  .catalog__price {
    /*     font-size: 17px;
    .default-nole;
    padding-top: 26px;
    padding-bottom: 27px; */
  }
  .catalog-button {
    background-position: 8px 19px;
    /*  &:hover, &:focus {
      background-image: url("../img/cart-hover.svg")
    } */
  }
}
.production {
  padding: 0;
  margin: 0;
  margin-top: 30px;
}
.production__wrap {
  width: 260px;
  margin: 0 auto;
  border: 1px solid #ececec;
}
.production__title {
  width: 200px;
  margin: 25px auto 25px;
  font-size: 17px;
  line-height: 24px;
  padding-left: 65px;
  background: url("../img/video.svg") no-repeat 0 12px;
}
.production__text {
  margin: 33px auto 28px;
  width: 184px;
  font-size: 13px;
  line-height: 24px;
}
.production__button {
  width: 189px;
  height: 50px;
  text-align: center;
  padding-top: 11px;
  margin: 0 auto;
  margin-bottom: 33px;
  font-size: 17px;
  line-height: 24px;
}
.production__video-img {
  display: none;
}
@media (min-width: 768px) {
  .production {
    padding: 0;
    margin: 0;
    margin-top: 55px;
  }
  .production__wrap {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* margin: 0 auto; */
    /* border: 1px solid @border-gray; */
  }
  .production__title {
    margin: 40px auto 38px;
    width: 584px;
    font-size: 20px;
    padding-left: 70px;
    background-position: 0 0px;
  }
  .production__video-wrap {
    order: -1;
  }
  .production__video-img {
    display: block;
    width: 100%;
  }
  .production__video {
    display: none;
  }
  .production__text {
    margin: 0 auto;
    width: 584px;
    font-size: 15px;
    /* line-height: 24px; */
  }
  .production__button {
    width: 585px;
    height: 53px;
    /* text-align: center; */
    padding-top: 13px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 33px;
    /* font-size: 17px; */
    line-height: 16px;
  }
}
@media (min-width: 1150px) {
  .production {
    /* .default-nole; */
    margin-top: 60px;
  }
  .production__wrap {
    width: 1050px;
    position: relative;
    /* display: flex;
    flex-wrap: wrap; */
    flex-direction: row;
    /* margin: 0 auto; */
    /* border: 1px solid @border-gray; */
  }
  .production__title {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    width: 228px;
    left: 748px;
    top: 52px;
    /* margin: 40px auto 38px; */
    /* font-size: 20px; */
    padding-top: 50px;
    background-position: 0 0px;
  }
  .production__video-wrap {
    order: 0;
    width: 680px;
  }
  .production__video-img {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
  }
  .production__video {
    display: none;
  }
  .production__info-wrap {
    padding: 0;
    margin: 0;
    width: auto;
    flex-grow: 2;
  }
  .production__text {
    margin: 0 auto;
    padding-top: 180px;
    /* padding-left: 85px; */
    width: 235px;
    font-size: 15px;
    line-height: 30px;
  }
  .production__button {
    width: 235px;
    height: 50px;
    /* text-align: center; */
    /* padding-top: 13px; */
    /* margin: 0 auto; */
    margin-top: 50px;
    margin-bottom: auto;
    /* font-size: 17px; */
    /* line-height: 16px; */
  }
}
.form__wrap {
  width: 260px;
  margin: 0 auto;
}
.form {
  padding: 0;
  margin: 0;
  font: inherit;
  display: block;
  width: 260px;
  margin: 0 auto;
}
.form__text {
  font-size: 13px;
  line-height: 24px;
  padding-right: 17px;
}
.form__part {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  /* padding-top: 25px; */
}
.form__wrap-block {
  padding-top: 15px;
  width: 260px;
  margin: 0 auto;
}
.form__title {
  position: relative;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #62d1ba;
  padding-bottom: 25px;
  border: none;
}
.form__title::before {
  content: "";
  display: block;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 198px;
  height: 1px;
  background: #62d1ba;
  top: 8px;
  right: 0;
}
.form__lable {
  position: relative;
  cursor: pointer;
  display: block;
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  width: 260px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 60px;
  margin-bottom: 15px;
}
.form__lable--full-name,
.form__lable--info {
  padding-left: 0;
  width: 100%;
}
.form__lable--full-name input[type="text"],
.form__lable--info input[type="text"] {
  display: block;
  width: 100%;
  height: 52px;
  font-family: inherit;
  font-size: 17px;
  color: #cacaca;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #444444;
}
.form__lable--full-name input[type="text"]:hover,
.form__lable--info input[type="text"]:hover,
.form__lable--full-name input[type="text"]:focus,
.form__lable--info input[type="text"]:focus {
  border-bottom-color: #62d1ba;
}
.form__lable--green {
  display: block;
  padding: 0;
  margin: 0;
  color: #62d1ba;
  padding-bottom: 25px;
}
.form__lable--green::before {
  content: "";
  display: block;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 198px;
  height: 1px;
  background: #62d1ba;
  top: 8px;
  right: 0;
}
.form__lable--green input[type="tel"],
.form__lable--green input[type="email"] {
  display: block;
  width: 100%;
  height: 52px;
  font-family: inherit;
  font-size: 17px;
  color: #cacaca;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #444444;
  padding-right: 40px;
  background: url("../img/mail.png") no-repeat 227px 16px;
}
.form__lable--green input[type="tel"]:hover,
.form__lable--green input[type="email"]:hover {
  background-image: url("../img/mail-hover.png");
}
.form__lable--green input[type="tel"] {
  background-image: url("../img/phone.png");
}
.form__lable--green input[type="tel"]:hover {
  background-image: url("../img/phone-hover.png");
}
.form__lable--green input[type="tel"]:focus,
.form__lable--green input[type="email"]:focus,
.form__lable--green input[type="tel"]:hover,
.form__lable--green input[type="email"]:hover {
  /* color: @text-gray; */
  border-bottom-color: #62d1ba;
}
.form__indicator {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 38px;
  border: 2px solid #444444;
}
.form__lable input[type="radio"] + .form__indicator {
  width: 38px;
  height: 38px;
  border: 2px solid #444444;
  border-radius: 50%;
}
.form__lable input[type="radio"]:hover + .form__indicator,
.form__lable input[type="radio"]:focus + .form__indicator {
  border-color: #62d1ba;
}
.form__lable input[type="radio"]:checked + .form__indicator::before {
  content: "";
  top: 9px;
  left: 9px;
  position: absolute;
  width: 16px;
  height: 16px;
  background: #62d1ba;
  border-radius: 50%;
}
.form__lable input[type="checkbox"]:hover + .form__indicator,
.form__lable input[type="checkbox"]:focus + .form__indicator {
  border-color: #62d1ba;
}
.form__lable input[type="checkbox"]:checked + .form__indicator::before,
.form__lable input[type="checkbox"]:checked + .form__indicator::after {
  content: "";
  top: 19px;
  left: 6px;
  position: absolute;
  width: 11px;
  height: 2px;
  background: #444444;
  transform: rotate(45deg);
}
.form__lable input[type="checkbox"]:checked + .form__indicator::after {
  top: 15px;
  left: 11px;
  transform: rotate(-45deg);
  width: 24px;
}
textarea {
  padding: 0;
  margin: 0;
  display: block;
  width: 260px;
  min-height: 140px;
  font-family: inherit;
  font-size: 17px;
  color: #cacaca;
  line-height: 18px;
  padding: 18px 16px;
  border: none;
  border: 2px solid #444444;
}
textarea:hover,
textarea:focus {
  border-color: #62d1ba;
}
.form__mark {
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .page-knitting {
    position: relative;
    padding: 0;
    margin: 0;
  }
  .page-knitting::before {
    content: "";
    position: absolute;
    top: -17px;
    display: block;
    width: 100%;
    height: 18px;
    background: url("../img/zigzag.svg") repeat-x 0 0;
    z-index: 2;
  }
  .form__wrap {
    width: 100%;
    padding-top: 75px;
  }
  .form {
    width: 100%;
  }
  .form__text {
    width: 668px;
    font-size: 17px;
    line-height: 30px;
    padding-right: 50px;
    margin: 0 auto;
  }
  .form__part {
    width: 100%;
  }
  .form__part--gray {
    background-color: #f1f1f1;
  }
  .form__wrap-block {
    padding-top: 50px;
    width: 668px;
    display: flex;
    flex-wrap: wrap;
  }
  .form__wrap-block--phonemail {
    display: block;
  }
  .form__title {
    width: 167px;
  }
  .form__title::before {
    display: none;
  }
  .form__title ~ div {
    display: flex;
    flex-wrap: wrap;
    width: 501px;
  }
  .form__lable {
    width: 335px;
    font-size: 19px;
    /* padding-top: 18px; */
    padding-bottom: 18px;
  }
  .form__lable--short {
    width: 240px;
  }
  .form__lable--full-name {
    padding-left: 0;
    width: 100%;
  }
  .form__lable--full-name input[type="text"] {
    display: inline-block;
    width: 377px;
    margin-left: 20px;
    padding-left: 15px;
  }
  .form__lable--full-name input[name="name"] {
    width: 430px;
  }
  .form__lable--green {
    width: 167px;
    height: 77px;
    display: block;
  }
  .form__lable--green::before {
    display: none;
  }
  .form__lable--green input[type="tel"],
  .form__lable--green input[type="email"] {
    margin-left: 167px;
    margin-top: -35px;
    padding-left: 18px;
    width: 501px;
    background-position: 447px 16px;
  }
  textarea {
    width: 501px;
    height: 140px;
  }
  .form__last-line {
    width: 668px;
    margin: 25px auto 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .form__mark {
    width: 305px;
    font-size: 17px;
    line-height: 30px;
  }
  .form__button {
    width: 230px;
    height: 50px;
  }
}
@media (min-width: 1150px) {
  .form__text {
    width: 700px;
  }
  .form__wrap-block {
    width: 930px;
  }
  .form__title {
    width: 116px;
  }
  .form__title ~ div {
    width: 814px;
  }
  .form__wrap-block--full-name .form__title {
    padding-top: 25px;
  }
  .form__lable {
    width: 525px;
  }
  .form__lable--short {
    width: 260px;
  }
  .form__lable--full-name {
    width: 100%;
  }
  .form__lable--full-name input[type="text"] {
    width: 573px;
  }
  .form__lable--full-name input[name="name"] {
    width: 627px;
  }
  .form__lable--green {
    /* .default-nole; */
    width: 116px;
    height: 77px;
  }
  .form__lable--green input[type="tel"],
  .form__lable--green input[type="email"] {
    width: 700px;
    margin-left: 116px;
    background-position: 666px 16px;
  }
  textarea {
    width: 701px;
    height: 140px;
  }
  .form__last-line {
    width: 700px;
  }
}
.page-footer {
  width: 100%;
  margin-top: 40px;
  background: #f1f1f1;
}
.page-footer__wrap {
  width: 260px;
  margin: 0 auto;
}
.page-footer__logo-link {
  display: none;
}
.page-footer__social {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
}
.page-footer__copyright-wrap {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  align-items: center;
}
.page-footer__copyright-text {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  padding-left: 40px;
}
.page-footer__copyright-link {
  width: 84px;
  height: 40px;
  background: url("../less/blocks/page-footer/htmlacademy.svg") no-repeat center;
  background-size: 30px 35px ;
  opacity: 0.75;
}
.page-footer__copyright-link:hover,
.page-footer__copyright-link:focus {
  opacity: 1;
}
.page-footer__copyright-link :active {
  opacity: 0.2;
}
@media (min-width: 768px) {
  .page-footer__wrap {
    width: 668px;
    height: 143px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page-footer__logo-link {
    display: block;
    margin-right: 80px;
    width: 105px;
    height: 70px;
    background: url("../less/blocks/page-footer/logo-footer.svg") no-repeat center;
    background-size: 100%;
  }
  .page-footer__logo-link:hover,
  .page-footer__logo-link:focus {
    background-image: url("../less/blocks/page-footer/logo-footer-green.svg");
  }
  .page-footer__social {
    width: 180px;
    border-bottom: 0;
  }
  .page-footer__copyright-wrap {
    width: auto;
    margin: 0;
    justify-content: right;
    align-items: center;
  }
  .page-footer__copyright-text {
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 1150px) {
  .page-footer__wrap {
    width: 1050px;
  }
  .page-footer {
    margin-top: 110px;
  }
}
.social__list {
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 auto;
  width: 180px;
  justify-content: space-around;
}
.social__link {
  display: block;
  height: 80px;
  width: 60px;
  background: url("../less/blocks/social/fb.svg") no-repeat center;
}
.social__link:hover,
.social__link:focus {
  background-image: url("../less/blocks/social/fb-green.svg");
}
.social__link--instagram {
  background-image: url("../less/blocks/social/insta.svg");
}
.social__link--instagram:hover,
.social__link--instagram:focus {
  background-image: url("../less/blocks/social/insta-green.svg");
}
.social__link--twitter {
  background-image: url("../less/blocks/social/twitter.svg");
}
.social__link--twitter:hover,
.social__link--twitter:focus {
  background-image: url("../less/blocks/social/twitter-green.svg");
}
.modal {
  display: none;
}
.modal-show {
  display: block;
  animation-name: manifest;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
}
.modal__white-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background: #ffffff;
  opacity: 0.75;
}
.modal__wrap {
  position: fixed;
  top: 136px;
  left: 50%;
  margin-left: -160px;
  z-index: 5;
  width: 320px;
  height: 400px;
  background: #ffffff;
  border: 1px solid #c7c7c7;
  box-shadow: 0 6px 6px #ececec;
}
.modal__title {
  width: 260px;
  padding: 0 50px 0;
  margin: 37px auto 0;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
.modal__text {
  width: 260px;
  padding: 0 50px 0;
  margin: 27px auto 0;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}
.modal__buttons {
  display: flex;
  width: 260px;
  margin: 30px auto 0;
  justify-content: space-between;
}
.modal__button {
  width: 80px;
  height: 50px;
  border-color: #ececec;
}
.modal__button:hover,
.modal__button:focus {
  color: #444444;
  background: #ffffff;
  border-color: #63d1bb;
}
.modal__button--bying {
  margin: 30px auto 0;
  color: #ffffff;
  background: #63d1bb;
  border-color: #63d1bb;
}
